@model TestCrud.Models.TUsers

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TUsers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodUsuario" />
            <div class="form-group">
                <label  class="control-label">Usuario</label>
                <input asp-for="TxtUser" class="form-control" />
                <span asp-validation-for="TxtUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Contrasenha</label>
                <input asp-for="TxtPassword" class="form-control" type="password" />
                <span asp-validation-for="TxtPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="TxtNombre" class="form-control" />
                <span asp-validation-for="TxtNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellido</label>
                <input asp-for="TxtApellido" class="form-control" />
                <span asp-validation-for="TxtApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Nro. Doc</label>
                <input asp-for="NroDoc" class="form-control" />
                <span asp-validation-for="NroDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rol</label>
                <select asp-for="CodRol" class="form-control" asp-items="ViewBag.CodRol"></select>
                <span asp-validation-for="CodRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SnActivo" class="control-label"></label>
                <input asp-for="SnActivo" class="form-control" />
                <span asp-validation-for="SnActivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
