
@{
    ViewData["Title"] = "IndexCliente";
}

<h1>Hola</h1>
<p>Como usuario con rol Cliente las acciones permitidas son: Consultar stock de peliculas para alquilar y venta.</p>
<ul>
    <li>Stock Alquiler</li>
    <li>Stock Venta</li>
</ul>
