
@{
    ViewData["Title"] = "IndexAdministrador";
}

<h1>Acciones del administrador</h1>
<ul>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TUsers" asp-action="Index">Crear Usuarios</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="Index">ABM-Películas</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TAlquilers" asp-action="Index">Alquilar</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TVentas" asp-action="Index">Vender</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TGeneroes" asp-action="Index">Géneros</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="PeliculasSinDevoluciones">Películas sin devoluciones</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="">Ver Películas Alquiladas por usuario</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="RecaudoPeliculasAlquiladas">Recaudación de películas</a>
    </li>




    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="AsignarGenero">Asignar Géneros</a>
        </li>*@

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="stockAlquiler">Listar peliculas en Stock Alquiler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="stockVenta">Listar peliculas en Stock Venta</a>
    </li>


</ul>

