
@{
    ViewData["Title"] = "IndexCliente";
}

<h1>Hola</h1>
<p>Como usuario con rol Cliente las acciones permitidas son: Consultar stock de peliculas para alquilar y venta.</p>
<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="stockAlquiler">Listar peliculas en Stock Alquiler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TPeliculas" asp-action="stockVenta">Listar peliculas en Stock Venta</a>
    </li>


</ul>
