<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestCrud</title>
    @*DataTable*@ @*(Deben ir en este orden)*@
    @*1)*@
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    @*2)*@
    <link href="~/css/responsive.dataTables.min.css" rel="stylesheet" />
    @*3)*@
    <link href="~/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestCrud</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Cerrar Sesión</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TestCrud - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    @*Ni idea para que sirve*@
    @*<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>*@

    @*DataTable Responsive*@ @*(Atencion debe ir si o si en este orden)*@

    @*<script src="~/js/jquery-3.5.1.js"></script>*@ @*(Este ya no es necesario ya que por defecto el proyecto tiene jquery instalado)*@
    @*1)*@
    <script src="~/js/jquery.dataTables.min.js"></script>
    @*2)*@
    <script src="~/js/dataTables.responsive.min.js"></script>
    @*3)*@
    <script src="~/js/dataTables.rowReorder.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
